<?xml version="1.0" encoding="utf-8" ?>
<phpunit colors="true">
    <test name="test">
        <directory>./tests</directory>
    </test>
    <filter>
        <whitelist proceessUncoveredFromWhitelist="true">
            <directory suffic=".php">./app</directory>
            <directory suffic=".php">./src</directory>
            <directory suffic=".php">./public</directory>
        </whitelist>
    </filter>
</phpunit>
