#books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#books li, #book li {
    list-style: none;
}
#book {
    display: flex;
    justify-content: center;
    align-items: center;
}