{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<form method="post">
    <input type="hidden" name="user[id]" value="{{id}}">
    <input type="password" name="user[pass]" placeholder="password">
    <input type="number" name="user[code]" placeholder="code">
    <input type="submit" value="Change password" formaction="/password/change/{{id}}">
</form>

{% endblock %}