{% extends '/default.twig'%}

{% block content %}

<h1><a href="/blogv3/">{{title}}</a></h1>

{% for book in books %}

<li><a href="/blogv3/book/{{book.id}}">{{book.name}}</a></li>
    
{% endfor %}

{% endblock %}