{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<a href="/blogv3/">Back</a>

<br>
<br>

{% for book in books %}

<li><a href="/blogv3/book/{{book.id}}">{{book.name}}</a></li>
    
{% endfor %}
<br>
{% if session.mail is defined%}
    {% if check %}
        {{ form }}
        {# <form method="post">
            <input type="text" name="name" placeholder="Name of book" required>
            <input type="text" name="owner" placeholder="Owner of book" required>
            <input type="submit" value="Create new book">
        </form> #}
    {% endif %}
{% endif %}

{% endblock %}