{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<p>Go back to <a href="/">Home Page</a></p>

<a href="/admin/book">Manage Books</a><br>

<a href="/admin/chapter">Manage Chapters</a><br>

<a href="/admin/comment">Manage Comments</a><br>

<a href="/admin/user">Manager Users</a>

{% endblock %}