<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      {% include "header.twig" %}
    </header>
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
    <footer>
      {% include "footer.twig" %}
    </footer>
</body>
<div id="flash">
  {% for message in messages %}
    <div class="flash">{{message}}</div>
  {% endfor %}
</div>
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=r947hfxg80p5elmmudchh1ocrw18x3gkf7gzw0hom1yfct53"></script>
<script src="/js/flash.js"></script>
<script src="/js/reply.js"></script>
<script>
  tinymce.init({
    selector: '.text_block'
  });
  </script>
</html>