<div class="block">
    <p>All rights reserved 2019 Jérôme Farin</p>
    <ul>
        <p>Shared on </p>
        <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        <a target="_blank" href="https://twitter.com/intent/tweet?text=www.jeromefarin.fr"><i class="fab fa-twitter-square"></i></a>
        <a target="_blank" href="https://www.reddit.com/submit"><i class="fab fa-reddit-square"></i></a>
    </ul>
</div>