{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<p>It's home page</p>

<p>You find book list just <a href="/book">HERE</a></p>

{% if session.mail is not defined %}

<a href="/login">Login</a>

{% else %}

<p><a href="/admin">Admin Panel</a> | <a href="/logout">Logout</a></p>

{% endif %}

{% endblock %}