{% extends '/default.twig'%}

{% block content %}

<p>Click <a href="localhost/password/{{id}}">HERE</a> for change password of user "{{name}}"</p>

<h2>{{code}}</h2>

<p>This code is valid for 5 minutes</p>

{% endblock %}