{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<a href="/blogv3">Back</a><br><br>

{% if error is defined %}

<em>{{error}}</em><br><br>

{% endif %}

<form action="/blogv3/login" method="post">
    <input type="email" name="mail" placeholder="Mail" required>
    <input type="password" name="pass" placeholder="Password" required>
    <input type="submit" value="Login">
</form>

{% endblock %}