{% extends '/default.twig'%}

{% block content %}

<h1>{{title}}</h1>

<form method="post">
    <input type="email" name="user[mail]" placeholder="Mail">
    <input type="password" name="user[pass]" placeholder="Password">
    <input type="submit" value="Login" formaction="/login/send">
</form>

{% endblock %}